@import 'nib'
@import 'swatches'

html {
  height: 100%;
}

body {
  background: $base;
  height: 100%;
}

.root {
  height: 100%;
  padding-left: 230px;
  left: 0px;
}

.sidebar {
  margin-left: -230px;
  width: 230px;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 230px;
  z-index: 1000;
  background: $secondary;

  h1 {
    font-size: 22px;
    margin: 14px 0;
    padding: 0;
    text-align: center;
    color: $accent-dark;
  }
}

main {
  margin: 0 auto;
  width: 1040px;
}
