
@import 'swatches'

.sidebar {
  ul {
    list-style: square;
    margin: 40px;
    padding: 0;
    text-indent: 0;

    li {
      margin: 10px;
      // background: $accent-dark;
    }

    a {
      // color: $accent-orange;
      color: $tertiary;
      text-decoration: none;
      display: block;
    }
  }
}
